h1 {
	margin-top: 7%;
	width: 80%;
	text-align: left;
}

.message_box {
	padding-right: 20px;
	width: 90%;
	margin-bottom: 10px;
	max-height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
}

/* Chrome */
::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

.message_box ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.message_box ul li {
	padding: 5px;
}

.single_message {
	display: flex;
	margin-top: 10px;
}

.single_message div {
	display: flex;
	flex-direction: column;
}

.single_message img {
	padding-left: 5px;
	padding-right: 5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;

} 

.sender_name {
	font-size: 10px;
}

.sent {
	justify-content: end;
	flex-direction: row-reverse;
}

.send_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 5%;
}

.send_container form {
	width: 80%;
}

.sendbox {
	width: 100%;
	background-color: white;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sendbox input {
	width: 90%;
	height: 50px;
	border: none;
	padding-left: 15px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sendbox input:focus {
	outline: none;
}

.sendbox button {
	padding-left: 20px;
	border: none;
	background-color: transparent;
	font-size: 20px;
	padding-right: 20px;
	color: rgba(0, 0, 0, 0.2);
}

.channel_options {
	display: flex;
	flex-direction: row;
	width: 80%;
	flex-wrap: wrap;
}

.channel_options button {
	flex: 1;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: white;
}

.home_body {
	display: flex;
	width: 95vw;
	height: 90%;
	align-items: center;
	justify-content: center;
	padding-top: 2.5%;
	padding-left: 2.7%;
	padding-bottom: 2%;
	min-height: 600px;
	min-width: 500px;
}

.home_content {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-basis: 100%;
	gap: 6%;
}

.left_column {
	display: flex;
	height: 100%;
	flex-direction: column;
	gap: 4%;
	flex-grow: 0.2;
}

.play_button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 100%;
	background: #036280;
	border: 3px solid #BC0002;
	border-radius: 25px;
	text-decoration: none;
	color: black;
	font-size: 3em;
}

.chat {
	display: flex;
	height: 100%;
	width: 45%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: #F0F8FF;
	border: 3px solid #BC0002;
	border-radius: 10px;
}

.friend_list {
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 100%;
	background-color: #F0F8FF;
	border: 3px solid #BC0002;
	border-radius: 10px;
}

.add_friend {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2%;
	height: 7%;
	padding-left: 3px;
	width: 97%;

}

.add_friend .spe {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: black;
	height: 80%;
	flex-shrink: 0;
	width: 37%;
	overflow: hidden;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

.spe:hover {
	background-color: rgb(47, 49, 49);;
}


.list {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-top: 2%;
	align-items: center;
	background-color: rgb(255, 255, 255);
	overflow-y: scroll;
}

.list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list ul li {
	margin-top: 10px;
	width: 90%;
	height: 10%;
	display: flex;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
}

.list ul li:hover {
	background-color: #F0F8FF;
}

.list ul li span {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 1em;
}

.selectedChannel {
	background-color: #F0F8FF;
}

.friends {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 92%;
	background-color: black;
}

.friend {
	margin-top: 5%;
	margin-bottom: 5%;
}

@media screen and (max-width: 1150px) {
	.join_panel button {
		font-size: 65%;
	}

	.left_column {
		flex-grow: 0.6;
	}

	.chat {
		width: 50%;
	}
}

.sent {
	text-align: right;
}

.received {
	text-align: left;
}